%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

%h3 Description:

%p#description= @movie.description

%h3 Review:

%table#review
  %tr
    %th User
    %th Patatoe
    %th Comment
  - @movie.reviews.each do |review|
    %tr
      %td{width: "15%;"}= review.moviegoer.name
      %td{width: "10%;"}= review.potatoes
      %td{width: "20%;"}= review.comments  
      - if @current_user.name == review.moviegoer.name
        %td{width: "15%;"}= link_to 'Edit Review', edit_movie_review_path(@movie.id,review.id)
        %td{width: "10%;"}= link_to 'Delete', movie_review_path(@movie,review), :method => :delete
      %br

%br
%br
%br

= link_to 'Add Review', new_movie_review_path(@movie)
%br
= link_to 'Edit Movie', edit_movie_path(@movie)
%br
= link_to 'Delete', movie_path(@movie), :method => :delete
%br
= link_to 'Close', '',{:id => 'closeLink'}