%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do
  <label for='search_terms'>Search Terms</label>
  <input id="search_terms" name="search_terms" type="text" />
  = submit_tag 'Search TMDb'
  
<label for="filter">Only movies suitable for children</label>
<input type="checkbox" id="filter"/>

%h1 All Movies

%table#movies
  %thead
    %tr
      %th Index
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each_with_index do |movie,index|
      %tr
      %td= index + 1
      %td= movie.title
      %td= movie.rating
      %td= movie.release_date
      %td= link_to "More about #{movie.title}", movie_path(movie)
      
= link_to 'Add new movie', new_movie_path
