!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
    = csrf_meta_tags

  %body
    %banner= link_to "Rotten Potatoes", movies_path
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]

    - if @current_user
      %p.welcome Welcome, #{@current_user.name}!
      = link_to 'Log Out', logout_path, :method => :post
    - else
      = link_to 'Log in with your Twitter account', OmniAuth.login_path(:twitter)
    #main
      = yield
      = javascript_pack_tag 'custom'
